*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    background: white !important;
    overflow-x: hidden;
}

legend {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: medium;
    line-height: normal;
    color: #000000;
    border: 0;
    border-bottom: none;
}

.main-pg{
    background: url('https://img.freepik.com/free-vector/topographic-map-contour-lines-top-view_23-2148582768.jpg?size=626&ext=jpg') ;
    height: 100vh;
    width: 100%;
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;
    display: flex;
    flex-direction: column;
}

nav{
    padding: 20px 0px !important;
    border-bottom: 1px solid rgb(197, 197, 197);
} 
.navbar{
    transition:500ms ease;
}

.navbar.scrolled{
    padding: 10px 0px !important;
    background:rgb(255, 255, 255);
    border-bottom: none;
}


nav ul li a{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px;
    font-size: 1.2rem;
}

nav ul li{
    padding: 0px 20px;
}


#tool{
    width: 100%;
    height: 80vh;
    border: 1px solid rgb(218, 218, 218);
}

.row-content{
    padding: 80px 0;
}

a.navbar-brand{
    font-family:  sans-serif ;
    font-weight: 500;
    font-size: 2rem;
    margin-left: 1rem;
    color: rgb(255, 255, 255) !important;
}

a.navbar-brand .brand-color{
    color: orangered;
}

.navbar-toggler{
    margin-right: 1rem;
    border: none !important;
    outline: none !important;
}

.carousel-item img{
    width: 100%;
    height: 30rem;
}

.hero{
    padding: 50vh 0 0 0;
    margin: auto;
    align-items: center;
    display: inline-block;
}

.wrapper{
    text-align: center;
}


.back-to-top{
    margin-left: auto;
}
