*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
    width: 100%;
}


body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: white !important;
    overflow-x: hidden;
}

#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #fff url('./assets/loader.gif') no-repeat center;
    z-index: 99999;
}

legend {
    display: inline;
    padding: 0;
    margin: 0;
    font-size: medium;
    line-height: normal;
    color: #000000;
    border: 0;
    border-bottom: none;
}

.main-pg{
    background: url('./assets/background\ 2-01.jpg') ;
    height: 100vh;
    width: 100%;
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;
    display: flex;
    flex-direction: column;
}

nav{
    padding: 20px 0px !important;
    border-bottom: 1px solid rgb(197, 197, 197);
} 
.navbar{
    transition:500ms ease;
}

.navbar.scrolled{
    padding: 10px 0px !important;
    background:rgb(255, 255, 255);
    border-bottom: none;
}


nav ul li a{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.2px;
    font-size: 1.2rem;
}

nav ul li{
    padding: 0px 20px;
}


#tool{
    width: 100%;
    height: 85vh;
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row-content{
    padding: 80px 0 0 0;
}

a.navbar-brand{
    font-family:  sans-serif ;
    font-weight: 500;
    font-size: 2rem;
    margin-left: 1rem;
    color: rgb(255, 255, 255) !important;
}

a.navbar-brand .brand-color{
    color: #efaf61;
}

.navbar-toggler{
    margin-right: 1rem;
    border: none !important;
    outline: none !important;
}



.wrapper{
    text-align: center;
}

.top{
    padding-bottom: 20px;
}

.back-to-top{
    background-color: gray;
    margin-left: auto;
    margin-right: 20px !important;
    border: 1px solid grey;
    padding: 0.5rem;
    border-radius: 50%;
}

.back-to-top span{
    color: black;
    margin-bottom: 0.2rem;
    padding: 0.3rem;
}

 .about img{
    width: 100%;
    height: 95vh;
}

.about-content{
    position: absolute;
    top: 10rem;
    left: 4rem;
    
}

.about-content .section-content p{
    padding: 20px;
    font-size: 1.1rem;
}

.section-title{
    padding: 15px 0px;
}

.section-title h2{
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    color: #161b41;
}

.section-title h2::after{
    background-color: #ff5304; 
    bottom: 0;
    content: '';
    display: block;
    height: 0.2rem;
    left: 50%;
    position: absolute;
    transform: translate(-50%,0);
    width: 3.5rem;
}


.section-content{
    text-align: left;
    padding: 30px 0px;
    font-family: 'Open Sans', sans-serif;
    color: rgb(92, 92, 92);
}

.section-content p{
    width: 70%;
    font-size: 1rem;
    color: rgb(37, 37, 37);
}

#about{
    text-align: center;
}

#about .section-title{
    display: inline-block;
}

#howTo .row{
    text-align: center;
}

.howTo-content{
    text-align: left;
}

.howTo-content p{
    color: rgb(92, 92, 92) ;
}

.howTo-img{
    margin-bottom: 20px;
    vertical-align: middle;
}

.image-align{
    display: flex;
    align-items: center;
}

#tool-div .section-title{
    text-align: center;
}

.blog{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 0px;
}

.blog a{
    border-radius: 1.4rem;
    padding: 0.6rem 0.8rem;
    outline: none;
}

#team .section-title{
    text-align: center;
}

.profile-img{
    margin: 1rem;
    box-shadow: 0px 5px 20px 5px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.team-description{
    padding-top: 80px;
}

.team-content{
    padding: 15px 0px;
}

.profile-content h3{
    color: blueviolet;
    font-weight: 500;
}
.profile-content p{
    color: rgb(92, 92, 92);
}

.profile-content p span{
    color: rgb(253, 122, 0);
}

.social-links{
    padding: 10px 0px;
}

.social-links a{ 
    color: black;
}

.social-links span{
    padding: 0px 5px;
}

.footer{
    color: white;
    background: black;
}

.brand-color{
    color: #efaf61;
}

.quick-links{
    padding: 40px 10px;
    border-bottom: 1px solid white;
}

.tool-name{
    font-size: 2rem;
}

.links{
    display: flex;
    flex-direction: column;
}

.links span{
    margin: 1rem 0;
    font-size: 1.4rem;
}

.links a{
    color: white;
    text-decoration: none;
    margin: 0.2rem;
}

.links a:hover{
    color: gray;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.6rem 0rem;
}


@media only screen and (max-width: 1000px) {
    .about-content .section-content p{
        font-size: 1rem !important;
        color: rgb(37, 37, 37);
    }

}

@media only screen and (max-width: 767px) {

    nav{
        border-bottom: none;
    }
    nav ul{
        background-color: white;
        
    }
    nav ul li a{
        color: black !important;
    }

    .about-img{
        opacity: 0.7;
        height: 60vh !important;
    }

    .about-content .section-content p{
        width: 100%;
        font-size: 1rem !important;
        color: rgb(37, 37, 37);
    }

    .about-content{
        position: absolute;
        top: 4rem !important;
        left: 0px;
        
    }
}

@media only screen and (max-width: 480px) {
    .about-img{
        opacity: 0.7;
        height: 70vh !important;
    }

    .about-content .section-content p{
        width: 100%;
        font-size: 1rem !important;
    }

    .main-pg{
        background: url('./assets/background\ 2-01-01-03-01.jpeg') ;
        height: 100vh;
        width: 100%;
        background-position: center ;
        background-repeat: no-repeat ;
        background-size: cover ;
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (max-height: 560px) {
    .about-content .section-content p{
        font-size: 1rem !important;
        width: 100%;
    }
    .about-img{
        opacity: 0.7;
        height: 100vh !important;
    }
    .about-content{
        position: absolute;
        top: 4rem !important;
        left: 0px;
        
    }
}

@media only screen and (max-width: 1250px) {
    .about img{
        width: 100%;
        height: 80vh !important;
    }
}

